<% if(listedItem.length>0){ %>
<!-- ITEREATE THE ALL LIST ITEM -->

<div class="max-w-[8rem]">
  <label
    for="time"
    class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
    >Select time:</label
  >
  <div class="relative">
    <input
      name="time"
      type="time"
      id="time"
      class="bg-gray-50 border leading-none border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
      min="09:00"
      max="18:00"
      value="00:00"
      required
    />
  </div>
</div>
<!-- ELSE CONDITION -->
<% }else{ %>
<h1>No Availabel list Item</h1>
<% } %>
